.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.blog_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
}