.container{
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner_container{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.inner_container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

.inner_container form input, .inner_container form textarea, .inner_container form button{
    padding: 15px 10px;
    width: 100%;
    background-color: var(--accent-color);
    border: none;
    caret-color: var(--text-grey);
}

.inner_container form textarea{
    height: 200px;
}

.inner_container form input::placeholder, .inner_container form textarea::placeholder{
    opacity: 0.6;
}

.inner_container form input:focus, .inner_container form textarea:focus{
    outline: none;  
}

.inner_container form button{
    background-color: var(--secondary-color);
    color: inherit;
    cursor: pointer;
}

.inner_container form button:hover{
    opacity: 0.9;
}